@using FreeCMS.Extensions;
@model FreeCMS.DomainModels.System.Comment
@{
    ViewData["Title"] = "حذف دیدگاه";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<div>
    <ol class="breadcrumb webo-breadcrumb" style="background-color:#fff;">
        <li>
            <a href="@Url.Action("Index", "Admin", new { area="Core"})">پیشخوان مدیریت</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Comment", new { area="Core"})">مدیریت دیدگاه ها</a>
        </li>
        <li>
            <span>@ViewData["Title"]</span>
        </li>
    </ol>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-push-8 col-lg-push-8">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">دسترسی ها</h3>
            </div>
            <div class="box-body">
                <p>تاریخ ارسال: @Model.CreateDate.ToString()</p>
                <p>تایید شده: @Model.IsVerified.ToPersianString()</p>
                <p>آیا از حذف این دیدگاه مطمئن هستید؟</p>
                @using (Html.BeginForm())
                {
                    <text>
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => Model.Id)
                        @Html.ActionLink("انصراف", "Index", "Comment", new { area = "Core" }, new { @class = "btn btn-default" }) |
                        <input type="submit" value="حذف" class="btn btn-danger" />
                    </text>
                }
            </div>
        </div>
    </div>    <!-- ./functions -->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-pull-4 col-lg-pull-4">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div><!--  ./box-header -->
            <div class="box-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            @if(Model.Type == FreeCMS.DomainModels.System.CommentType.Guest)
                            {
                                @*<img src="@userImageService.GetUserImage(0)" class="img-circle webo-user-image-page media-object" >*@
                            }
                            else
                            {
                                @*<img src="@userImageService.GetUserImage((int)Model.UserId)" class="img-circle webo-user-image-page media-object" >*@
                            }
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <div>@Model.SenderName</div> 
                            <small>@Model.SenderEmail</small>
                        </h3>
                        <div class="clearfix"></div>
                        
                        <div class="comment-text">@Model.Text</div>
                    </div>
                </div>
            </div><!-- ./box-body -->
        </div><!-- ./box -->
    </div><!-- ./info -->
</div><!-- ./row -->
