@model List<FreeCMS.DomainModels.Cms.Gallery>
<style>
    .caret-up{
        border-top: none;
        border-bottom: 4px dashed;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <span>گالری ویدئو</span>
            <a class="pull-left collapsed" role="button" data-toggle="collapse" data-parent="#menu-item-select-list" href="#cms-video-gallery-select-list" aria-expanded="false" aria-controls="collapseOne1">
                <span class="caret"></span>
            </a>
        </h4>
    </div>
    <div id="cms-video-gallery-select-list" class="panel-collapse menu-item-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body webo-select-list-box" id="cms-video-gallery-select-list-wrapper">
            @if(Model != null && Model.Count > 0)
            {
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#cms-last-video-galleries" aria-controls="cms-last-video-galleries" role="tab" data-toggle="tab">تازه ترین ها</a></li>
                        <li role="presentation"><a href="#cms-all-video-galleries" aria-controls="cms-all-video-galleries" role="tab" data-toggle="tab">همه</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="cms-last-video-galleries">
                            @foreach (var gallery in Model.Take(5))
                            {
                                <div>
                                    <input id="@gallery.Id" type="checkbox" class="webo-menu-item-checkbox " data-text="@gallery.Name" data-link="@Url.Action("View","PG",new{area="CMS",id=gallery.Id})" data-header="گالری ویدئو" data-link-is-enabled="false" >        
                                    <label>@gallery.Name</label>
                                </div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="cms-all-video-galleries">
                            @foreach (var gallery in Model)
                            {
                                <div>
                                    <input id="@gallery.Id" type="checkbox" class="webo-menu-item-checkbox " data-text="@gallery.Name" data-link="@Url.Action("View","PG",new{area="CMS",id=gallery.Id})" data-header="گالری ویدئو" data-link-is-enabled="false" >        
                                    <label>@gallery.Name</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }else
            {
                <h4>گالری برای ویدئو ها وجود ندارد.</h4>
            }
        </div>
        <div class="panel-footer text-left">
            <button type="button" class="btn-add-menu-item btn btn-info" data-items-wrapper-id="#cms-video-gallery-select-list" >افزودن</button>
        </div>
    </div>
</div>