@using FreeCMS.DomainModels.Identity;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
	string? displayName = "";
	if (SignInManager.IsSignedIn(User))
	{
		var user = await UserManager.GetUserAsync(User);
		if (user is not null)
		{
			displayName = user.FullName;
			if (displayName is not null)
				displayName = displayName.Truncate(30, "...");
		}
	}
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="stylesheet" href="~/lib/adminlte/css/AdminLTE.css" />
	<link rel="stylesheet" href="~/lib/adminlte/css/bootstrap.css" />
	<link rel="stylesheet" href="~/lib/adminlte/css/bootstrap-rtl.css" />
	<link rel="stylesheet" href="~/lib/adminlte/css/rtl.css" />
	<link rel="stylesheet" href="~/lib/adminlte/css/skin-purple.css" />
	<link rel="stylesheet" href="~/lib/adminlte/css/skin-purple-light.css" />
	<link rel="stylesheet" href="~/lib/adminlte/css/skin-red.css" />
	<link rel="stylesheet" href="~/lib/adminlte/css/adminltefix.css" />
	<link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
	<link rel="stylesheet" href="~/css/admin.css" />
	@RenderSection("Head", false)
</head>
<body class="skin-purple-light sidebar-mini">
	<div class="wrapper">

		<!-- Main Header -->
		<header class="main-header">

			<!-- Logo -->
			<a asp-area="Core" asp-controller="Admin" asp-action="Dashboard" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>نام سایت</b></span>
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b> نام سایت</b></span>
			</a>

			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<i class="fas fa-bars"></i>
					<span class="sr-only">Toggle navigation</span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li class="nav-item">
							<a asp-area="" asp-controller="Home" asp-action="Index" target="_blank" title="خانه">
								<span class="fas fa-home"></span>
							</a>
						</li>
						<li class="nav-item">
							<a asp-area="" asp-controller="Profile" asp-action="Index" target="_blank" title="نمایش پروفایل">
								<span class="fas fa-user"></span>
							</a>
						</li>

						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button -->
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								@*<img src="@userImageService.GetCurrentUserImage()" class="user-image">*@
								<!-- hidden-xs hides the username on small devices so only the image appears. -->
								<span class="hidden-xs">@displayName</span>
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">ویرایش پروفایل</a></li>
								<li><a class="dropdown-item" href="#">تغییر رمز عبور</a></li>
								<li><a class="dropdown-item" href="#">ویرایش ایمیل</a></li>

								<!-- Menu Footer-->
								<li class="user-footer">
									<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
										<button type="submit" class="btn btn-default">خروج</button>
									</form>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						@*<img src="@userImageService.GetCurrentUserImage()" class="img-circle" alt="User Image" />*@
					</div>
					<div class="pull-left info">
						<p>@displayName</p>
					</div>
				</div>
				<!-- Sidebar Menu -->
				@*@await Component.InvokeAsync("ShowPanelMenu")*@
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<!-- Main content -->
			<section class="content">

				@RenderBody()

			</section><!-- /.content -->
		</div><!-- /.content-wrapper -->
		<!-- Main Footer -->
		<footer class="main-footer">
			<!-- To the right -->
			<div class="pull-right hidden-xs">
			</div>
			<!-- Default to the left -->
			<strong>کپی رایت &copy; @DateTime.Now.Year <a asp-area="" asp-controller="Home" asp-action="Index"></a></strong> تمام حقوق برای گروه نرم افزاری ترنج محفوظ است.
		</footer>
	</div><!-- ./wrapper -->
	<script src="~/lib/adminlte/js/jquery-1.11.0.js"></script>
	<script src="~/lib/adminlte/js/bootstrap.js"></script>
	<script src="~/lib/adminlte/js/app.js"></script>
	@RenderSection("Scripts", required: false)
	<script>
		var urlobj;

		function BrowseServer(obj) {
			//alert("BrowsseServer")'../Filemanager/index.html;
			urlobj = obj;
			OpenServerBrowser(
				'@Url.Content("~/RichFilemanager/index.html")',
				screen.width * 0.7,
				screen.height * 0.7);
		}
		function OpenServerBrowser(url, width, height) {

			var iLeft = (screen.width - width) / 2;
			var iTop = (screen.height - height) / 2;
			var sOptions = "toolbar=no,status=no,resizable=yes,dependent=yes";
			sOptions += ",width=" + width;
			sOptions += ",height=" + height;
			sOptions += ",left=" + iLeft;
			sOptions += ",top=" + iTop;
			var oWindow = window.open(url, "BrowseWindow", sOptions);
		}
		function SetUrl(url, width, height, alt) {
			document.getElementById(urlobj).value = url;
			//$('.webo-select-image-preview').css("background-image", 'url(' + url + ')');
			oWindow = null;

		}
	</script>
</body>
</html>
