@model FreeCMS.ViewModels.Profile.UserInfoVm
@{
    ViewData["Title"] = "حساب کاربری";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">تصویر حساب کاربری</h3>
            </div>
            <div class="box-body text-center">
                @*<img src="@userImageService.ShowUserImage(Model.Image)" class="webo-user-image-page">*@
            </div>
            <div class="box-footer">
                <a asp-area="" asp-controller="Profile" asp-action="ChangeImage" class="btn btn-default">تغییر تصویر</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">حساب کاربری</h3>
                <div class="box-tools pull-left">
                    @*وضعیت: @Model.Active.ActiveStatusToString()*@
                </div>
            </div>
            <div class="box-body ">
                <dl class="webo-mt-10">
                    <dt>نام کاربری</dt>
                    <dd>@Html.DisplayFor(model => model.UserName)</dd>
                    <dt>نام</dt>
                    <dd>@Html.DisplayFor(model => model.FullName)</dd>
                    <dt>ایمیل</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>
                </dl>
            </div>
            <div class="box-footer">
                <a asp-area="" asp-controller="Profile" asp-action="Edit" class="btn btn-default">ویرایش اطلاعات</a>
            </div>
        </div>
    </div>
</div>